services:
  fraud-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fraud-api
    ports:
      - "8080:8080"
    restart: unless-stopped
    volumes:
      - ./models:/app/models
      - ./data:/app/data